.workoutPlan{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 80%;
    height: 50px;
    background-color: #121212;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.6);
    transition: background-color 0.2s ease-out;
}

.workoutPlan:hover{
    background-color: #1779ba;
}

@media screen and (min-height: 800px){
    .workoutPlan{
        height: 100px;
    }
}