*{
    box-sizing: border-box;
}

.accordion{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.accordionHead{
    width: 80%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: border-radius 0.3s ease-in;
    background-color: #121212;
    color: white;
    padding: 10px 5px;
}

.accordionHead > span{
    margin-left: 10px;
    font-weight: bold;
    font-size: 18px;
}

.accordionHeadOpened{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.accordionHeadOpened > .chevronIcon{
    transform: rotate(90deg);
}

.toggleContainer{
    opacity: 0;
    visibility: hidden;
    transition:
    height 0.2s ease-in;
    width: 80%;
    padding: 5px;
    background-color: #1c1c1c;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 20px;
}

.animated{
    opacity: 1;
    visibility: visible;
    transition:
    height 0.2s ease-in,
    opacity 0.4s ease-in;
}

.toggleContainerTop{
    display: flex;
    justify-content: space-between;
}

.sets, .reps, .weight, .description, .ytVideo{
    text-align: center;
    background-color: #252525;
    padding: 5px;
    border-radius: 10px;
}

.toggleContainerMid{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.weight{
    width: fit-content;
}

.toggleContainerBottom{
    margin-top: 10px;
}

.description{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ytVideo{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
