*{
    box-sizing: border-box;
}

.homeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 20px;
    gap: 20px;
}

.homeTitle{
    color: white;
}

.popup-content {
    background-color: #202020 !important;
    padding: 20px !important;
    width: 80% !important;
    border: none !important;
    border-radius: 10px;
}

.homeEmptyContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.backgroundImg{
    margin-top: 40px;
    width: 50%;
}

.homeHint{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.homeContainer > button{
    border-radius: 100%;
    padding: 5px 15px;
    height: fit-content;
    width: fit-content;
    font-size: 40px;
    font-weight: bold;
    margin-top: 0;
}

.homeWorkoutPlanContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

@media screen and (min-width: 1024px){
    .popup-content{
        width: 50% !important;
    }

    .createWorkoutPlanContainer > button{
        width: 30%;
    }
}